body{
    background-color: aliceblue;
}
h1{
    color: coral;
}

div{
    height: 1247px;
      width: 13%;
      background-color:bisque;
      border:red 3px solid;
      border-radius: 30px; 
      padding: 20px; ;
  float: left;
  margin-left: 5px;
  }
  h1{text-align: center;}
  img{width: 100%;
  height:200px;}